@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Jost&family=Work+Sans:wght@400;500;600;700;800&display=swap');
body{
  font-family: 'Josefin Sans', sans-serif;
font-family: 'Jost', sans-serif;
font-family: 'Work Sans', sans-serif;
}
/* nav section css starts here */
nav,.left-logo,.nav-right-side,.follow-us{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo-image{
  margin-right: 20px;
}
.gamer-g{
  color: #FF42A5;
}
.nav-right-item{
  margin-right: 32px;
}
.right-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
background: rgba(11, 2, 35, 0.10);

}
.follow-us{
  padding: 0px 20px;
}

.follow-us li{
  list-style: none;
  
}
.follow-us-item{
  margin-right: 25px;
}
.fa-youtube{
  color: #F61C0D;
}
/* Responsibe CSS hear 
===================*/
/* for mobile devices */
@media screen and (max-width:576px){
  nav{
    flex-direction: column;
  }
  .left-logo{
    padding: 20px 0px;
  }
  .nav-right-side{
    flex-direction: column;
  }
  .nav-right-item{
    margin: 0;
    margin-bottom: 20px;
  }
}