@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Jost&family=Work+Sans:wght@400;500;600;700;800&display=swap');
body{
  font-family: 'Josefin Sans', sans-serif;
font-family: 'Jost', sans-serif;
font-family: 'Work Sans', sans-serif;
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* nav section css starts here */
nav,.left-logo,.nav-right-side,.follow-us{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav{
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100px;
}

.logo-image{
  margin-right: 20px;
}
.gamer-g{
  color: #FF42A5;
}
.nav-right-item{
  margin-right: 32px;
}
.right-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
background: rgba(11, 2, 35, 0.10);

}
.follow-us{
  padding: 10px 30px;
}

.follow-us li{
  list-style: none;
  
}
.follow-us-item{
  margin-right: 25px;
}
.fa-youtube{
  color: #F61C0D;
}

/* Banner section start 
=======================*/

.banner-main{
  background-color: rgba(211, 211, 211, 0.4);
}

.banner-section{
  
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-left{
  background: url(images/Group\ 14.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  padding: 50px 0px;
}

.banner-left ul{
  list-style: none;
}

.banner-left ul li{
  margin-bottom: 15px;
}
.banner-left > h2{
  color: #0B0223;  
  font-size: 2rem;  
  font-weight: 600;  
  text-transform: uppercase;
}

.banner-left > p{
  color: #F948B2;  
  font-size: 4rem;  
  font-weight: 800;  
  text-transform: uppercase;
  margin-bottom: 15px;
}

.li-icon{
  margin-right: 10px;
}

.btn-sign-in{
  font-size: 1rem;
  color: #fff;
  padding: 5px 20px;
  border-radius: 15px;
  background-color: #FF42A5;
  border: none;
  margin-top: 15px;
  margin-right: 8px;
}

.btn-rouge{
  font-size: 1rem;
  color: #fff;
  padding: 5px 20px;
  border-radius: 15px;
  background-color: #4EC5F7;
  border: none;
}

.banner-right{
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.banner-right img{
  width: 80%;
}

/* Online game section start 
============================*/
.online-game-container{
  max-width: 1200px;
  margin: 0 auto;
}

.online-game-section{
  text-align: center;
  padding-top: 50px;
}

.online-game-tittle{
  color: #0B0223;  
  font-size: 2rem; 
  font-weight: 700;
  margin-bottom: 10px;
}

.online-game-tittle span{
  color: #8758F1;
}

.online-game-para{
  color: #534C64;
  font-size: 1rem;
  margin-bottom: 30px;

}

.image-container{
  display: flex;
  justify-content: center; 
  gap: 15px;
}

.image-container div{
  width: 25%;
}

.image-container img{
  width: 100%;  
}

.image-container p{
  width: 100%;
  padding: 15px 0px;
  
}



/* Responsive CSS hear 
===================*/
/* for mobile devices */
@media screen and (max-width:576px){
  nav{
    flex-direction: column;
  }
  .left-logo{
    padding: 20px 0px;
  }
  .nav-right-side{
    flex-direction: column;
  }
  .nav-right-item{
    margin: 0;
    margin-bottom: 20px;
  }

  .right-nav{
    margin-bottom: 40px;
  }

  /* banner section */
  .banner-section{
  flex-direction: column-reverse;
  }

  .banner-right{
    width: 100%;
    justify-content: center;
  }

  /* online game section */
  .image-container{
    flex-direction: column;
  }

  .image-container div{
    width: 80%;
    margin: 0 auto;
  }
 
  
  
  
}